.Something {
    display: flex;
    flex-wrap: wrap;

}

.somethingName {
    width: 200px;
    flex-shrink:100;
    /* display: flex;
    justify-content: center; */
    /*--width-default: 1; /* Default width of the element */
    /* --width: var(--width-default);

    height: calc(100vh / 3);
    
    min-width: 14rem;

    background-color: pink;
    border: LavenderBlush 2px solid;
    border-radius: 8px;

	flex-basis: calc(var(--width) / var(--columns) * 100%); */
}