.Side-Menu {
    width: 10%;
    min-width: 3rem;
    max-width: 8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
}

.Side-Menu .Menu-Button {
    margin: 0 auto;
}

.Side-Menu .Shop-Type-PopOver {
    margin: 0 auto;
}

.Side-Menu .Cart-Button {
    margin: 0 auto;
}
