@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "~react-lazy-load-image-component/src/effects/blur.css";
@import "~react-lazy-load-image-component/src/effects/black-and-white.css";
@import "~react-lazy-load-image-component/src/effects/opacity.css";

body {

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Fallback, sans-serif; */
  /* font-family: "iCiel-BC-Burford-Rustic-Light"; */
  font-family: "iCielBCDroneRangerSerif-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", Fallback, monospace;
}
